# This notebook is for eda on the May trip data

#### Import needed modules

In [1]:
import pandas as pd

#### Import .csv to DataFrame and check top and bottom of the data

In [2]:
may_trip_df = pd.read_csv('../data/may_trip.csv')
may_trip_df.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01 00:00:00,00:03:47.363333,2019-05-01 00:00:00,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01 00:00:00,00:04:21.386666,2019-05-01 00:00:00,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000
4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01 00:00:00,00:04:27.796666,2019-05-01 00:00:00,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[[36.177699,-86.786477],[36.177711,-86.786469]...",2019-05-02 05:30:24.207000

In [3]:
may_trip_df.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
224964,2019-06-01 23:50:42.373000,Lime,LIM5241,PoweredJ6OI7QJIK4NO2,62.316667,0.00000,2019-05-31 00:00:00,23:16:25,2019-06-01 00:00:00,00:18:44,36.131741,-86.779007,36.155466,-86.779859,"[[36.1317,-86.77903]]",2019-06-02 08:04:56.923000
224965,2019-06-01 23:50:42.397000,Lime,LIM5285,PoweredQDVYGLDL6ZQDU,22.383333,9337.15680,2019-05-31 00:00:00,23:59:45,2019-06-01 00:00:00,00:22:08,36.126207,-86.789366,36.149205,-86.786162,"[[36.12621,-86.78937],[36.125840000000004,-86....",2019-06-02 08:04:58.683000
224966,2019-06-01 23:50:42.480000,Lime,LIM5413,PoweredH5HCTZB5WVABT,40.200000,20951.18880,2019-05-31 00:00:00,23:31:19,2019-06-01 00:00:00,00:11:31,36.126730,-86.778251,36.143138,-86.793144,"[[36.12673,-86.77825],[36.12664,-86.77731],[36...",2019-06-02 08:05:02.987000
224967,2019-06-01 23:50:42.480000,Lime,LIM5412,PoweredFXC5KHVLI3T7C,41.033333,21049.61280,2019-05-31 00:00:00,23:30:26,2019-06-01 00:00:00,00:11:28,36.126730,-86.778195,36.143140,-86.793125,"[[36.12673,-86.77819],[36.126740000000005,-86....",2019-06-02 08:05:02.957000
224968,2019-06-13 05:17:41.630000,SPIN,SPI146,Powered5750098,36206.000000,21551.83796,2019-05-19 00:00:00,01:49:22,2019-06-13 00:00:00,05:14:40,36.148668,-86.813511,36.147776,-86.740437,"[[36.147775779365219,-86.740436729892863],[36....",2019-06-14 09:36:56.957000

#### Check column attributes

In [4]:
may_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224969 entries, 0 to 224968
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    224969 non-null  object
 1   companyName     224969 non-null  object
 2   tripRecordNum   224969 non-null  object
 3   sumdID          224969 non-null  object
 4   tripDuration    224969 non-null  float64
 5   tripDistance    224969 non-null  float64
 6   startDate       224969 non-null  object
 7   startTime       224969 non-null  object
 8   endDate         224969 non-null  object
 9   endTime         224969 non-null  object
 10  startLatitude   224969 non-null  float64
 11  startLongitude  224969 non-null  float64
 12  endLatitude     224969 non-null  float64
 13  endLongitude    224969 non-null  float64
 14  tripRoute       224969 non-null  object
 15  create_dt       224969 non-null  object
dtypes: float64(6), object(10)
memory usage: 27.5+ MB

In [5]:
may_trip_df.isnull().sum()

pubTimeStamp      0
companyName       0
tripRecordNum     0
sumdID            0
tripDuration      0
tripDistance      0
startDate         0
startTime         0
endDate           0
endTime           0
startLatitude     0
startLongitude    0
endLatitude       0
endLongitude      0
tripRoute         0
create_dt         0
dtype: int64

In [6]:
may_trip_df.companyName.value_counts()

Lime             102569
Lyft              54271
Bird              53496
SPIN               8471
Bolt Mobility      4912
Gotcha              650
JUMP                600
Name: companyName, dtype: int64

In [7]:
may_trip_df.sumdID.nunique()

6966

In [8]:
may_trip_df.describe()

,tripDuration,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude
count,224969.000000,2.249690e+05,224969.000000,224969.000000,224969.000000,224969.000000
mean,42.701454,4.068519e+03,36.154927,-86.784143,36.155499,-86.784114
std,270.980984,2.605852e+04,0.013479,0.013873,0.020068,0.070626
min,0.000000,-2.758530e+06,36.037283,-86.918008,32.775953,-117.076117
25%,5.050000,3.380232e+02,36.149865,-86.791500,36.150100,-86.791700
50%,10.116667,1.640420e+03,36.156793,-86.781410,36.157247,-86.781394
75%,20.000000,5.488845e+03,36.162700,-86.776201,36.162730,-86.776193
max,36206.000000,7.580026e+06,36.293024,-86.600733,39.997793,-77.021907