# This notebook is for eda on the June trip data

#### Import needed modules

In [2]:
import pandas as pd

#### Import .csv to DataFrame and check top and bottom of the data

In [11]:
june_trip_df = pd.read_csv('../data/june_trip.csv')
june_trip_df.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-06-01 00:05:46.817000,Bird,BRD3572,PoweredSPI1T,4.0,328.084000,2019-06-01 00:00:00,00:02:18.203333,2019-06-01 00:00:00,00:06:16.406666,36.164400,-86.78070,36.163600,-86.780200,"[[36.164679,-86.781089],[36.163693,-86.78011],...",2019-06-02 05:30:19.960000
1,2019-06-01 00:05:46.817000,Bird,BRD3571,Powered2I3MS,5.0,4921.260000,2019-06-01 00:00:00,00:02:44.803333,2019-06-01 00:00:00,00:07:28.286666,36.175300,-86.79430,36.175300,-86.794300,"[[36.175367,-86.794232],[36.175367,-86.794232]...",2019-06-02 05:30:19.927000
2,2019-06-01 00:09:54,Gotcha,GOT1,Powered327,12.0,12.426575,2019-06-01 00:00:00,00:09:56,2019-06-01 00:00:00,00:21:56,36.161501,-86.77601,36.152529,-86.783742,"[[""36.16149"",""-86.77605000000001""]]",2019-06-06 22:23:08.673000
3,2019-06-01 00:10:46.957000,Bird,BRD3610,Powered8U1A6,2.0,0.000000,2019-06-01 00:00:00,00:10:31.163333,2019-06-01 00:00:00,00:12:02.773333,36.164000,-86.78070,36.163100,-86.779700,"[[36.163168,-86.779639]]",2019-06-02 05:30:20.283000
4,2019-06-01 00:10:46.957000,Bird,BRD3612,PoweredSPI1T,5.0,656.168000,2019-06-01 00:00:00,00:07:21.430000,2019-06-01 00:00:00,00:12:30.913333,36.165000,-86.77990,36.165900,-86.777800,"[[36.164951,-86.779836],[36.16494,-86.779456],...",2019-06-02 05:30:20.347000

In [6]:
june_trip_df.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
205622,2019-07-01 19:58:07,JUMP,JMP56,Powered2c1eeca5-26f4-5283-bbcd-5f46b19b7681,1440.0,40708.8,2019-06-30 00:00:00,02:16:21,2019-07-01 00:00:00,14:04:18,36.153070,-86.78393,36.160503,-86.77805,"[[""36.153068"",""-86.783928""],[""36.153063"",""-86....",2019-07-02 07:58:39.613000
205623,2019-07-01 19:58:07,JUMP,JMP53,Poweredac7200ea-c5a4-5362-94a8-03e4d2255104,1440.0,36854.4,2019-06-29 00:00:00,21:46:34,2019-07-01 00:00:00,14:04:09,36.162140,-86.77515,36.166332,-86.76144,"[[""36.160706"",""-86.773443""],[""36.160706"",""-86....",2019-07-02 07:58:39.740000
205624,2019-07-01 19:58:07,JUMP,JMP52,Powered3f96a82d-9641-58b6-b6db-b80f746a24cd,1440.0,62356.8,2019-06-29 00:00:00,16:15:42,2019-07-01 00:00:00,14:04:05,36.156837,-86.78104,36.149980,-86.76131,"[[""36.156838"",""-86.781036""],[""36.156845"",""-86....",2019-07-02 07:58:39.827000
205625,2019-07-01 19:58:07,JUMP,JMP54,Poweredc2d0a425-86dd-5664-a036-d770559391bb,1440.0,44880.0,2019-06-29 00:00:00,22:09:51,2019-07-01 00:00:00,14:04:12,36.152622,-86.79712,36.140900,-86.78785,"[[""36.152695"",""-86.79713""],[""36.152695"",""-86.7...",2019-07-02 07:58:39.707000
205626,2019-07-01 19:58:07,JUMP,JMP50,Powered1b56f557-adce-5c68-a98b-ab1ef41c7dcc,1440.0,32472.0,2019-06-29 00:00:00,15:55:36,2019-07-01 00:00:00,14:03:58,36.164547,-86.77692,36.180170,-86.74800,"[[""36.164546"",""-86.776913""],[""36.164546"",""-86....",2019-07-02 07:58:39.893000

#### Check column attributes

In [7]:
june_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205627 entries, 0 to 205626
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    205627 non-null  object
 1   companyName     205627 non-null  object
 2   tripRecordNum   205627 non-null  object
 3   sumdID          205627 non-null  object
 4   tripDuration    205627 non-null  float64
 5   tripDistance    205627 non-null  float64
 6   startDate       205627 non-null  object
 7   startTime       205627 non-null  object
 8   endDate         205627 non-null  object
 9   endTime         205627 non-null  object
 10  startLatitude   205627 non-null  float64
 11  startLongitude  205627 non-null  float64
 12  endLatitude     205627 non-null  float64
 13  endLongitude    205627 non-null  float64
 14  tripRoute       205627 non-null  object
 15  create_dt       205627 non-null  object
dtypes: float64(6), object(10)
memory usage: 25.1+ MB

In [8]:
june_trip_df.isnull().sum()

pubTimeStamp      0
companyName       0
tripRecordNum     0
sumdID            0
tripDuration      0
tripDistance      0
startDate         0
startTime         0
endDate           0
endTime           0
startLatitude     0
startLongitude    0
endLatitude       0
endLongitude      0
tripRoute         0
create_dt         0
dtype: int64

In [9]:
june_trip_df.companyName.value_counts()

Lime             84728
Bird             55014
Lyft             37821
SPIN             14294
Bolt Mobility    10219
Gotcha            1803
JUMP              1748
Name: companyName, dtype: int64

In [10]:
june_trip_df.sumdID.nunique()

6742

In [12]:
june_trip_df.describe()

,tripDuration,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude
count,205627.000000,2.056270e+05,205627.000000,205627.000000,205627.000000,205627.000000
mean,81.454936,5.254084e+03,36.156242,-86.784564,36.156277,-86.784505
std,431.513564,4.370924e+04,0.012074,0.013882,0.169490,0.608159
min,-8.003717,-5.157480e+05,36.042892,-86.917893,-36.850405,-122.428964
25%,5.000000,9.481628e+02,36.150659,-86.792074,36.150858,-86.792100
50%,10.000000,3.323491e+03,36.157100,-86.782000,36.157572,-86.781700
75%,20.000000,6.952015e+03,36.163040,-86.776493,36.163067,-86.776380
max,11836.000000,1.848950e+07,36.300029,-86.602127,47.613101,174.764886