# This notebook is for eda on the July trip data

#### Import needed modules

In [1]:
import pandas as pd

#### Import .csv to DataFrame and check top and bottom of the data

In [2]:
july_trip_df = pd.read_csv('../data/july_trip.csv')
july_trip_df.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000

In [3]:
july_trip_df.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
134921,2019-08-01 04:53:48,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.2,2019-07-31 00:00:00,23:47:43,2019-08-01 00:00:00,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[[""36.154631"",""-86.798341""],[""36.154631"",""-86....",2019-08-02 08:21:27.127000
134922,2019-08-01 04:53:48,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.0,2019-07-31 00:00:00,23:57:19,2019-08-01 00:00:00,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[[""36.153016"",""-86.783586""],[""36.153016"",""-86....",2019-08-02 08:21:26.773000
134923,2019-08-01 04:53:48,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.0,2019-07-31 00:00:00,23:41:52,2019-08-01 00:00:00,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[[""36.153685"",""-86.784578""],[""36.153685"",""-86....",2019-08-02 08:21:26.803000
134924,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.6,2019-07-31 00:00:00,23:26:15,2019-08-01 00:00:00,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[[""36.155736"",""-86.775181""],[""36.155531"",""-86....",2019-08-02 08:24:21.967000
134925,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.6,2019-07-31 00:00:00,22:19:08,2019-08-01 00:00:00,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[[""36.160051"",""-86.77672""],[""36.160051"",""-86.7...",2019-08-02 08:24:22

#### Check column attributes

In [4]:
july_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134926 entries, 0 to 134925
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    134926 non-null  object
 1   companyName     134926 non-null  object
 2   tripRecordNum   134926 non-null  object
 3   sumdID          134926 non-null  object
 4   tripDuration    134926 non-null  float64
 5   tripDistance    134926 non-null  float64
 6   startDate       134926 non-null  object
 7   startTime       134926 non-null  object
 8   endDate         134926 non-null  object
 9   endTime         134926 non-null  object
 10  startLatitude   134926 non-null  float64
 11  startLongitude  134926 non-null  float64
 12  endLatitude     134926 non-null  float64
 13  endLongitude    134926 non-null  float64
 14  tripRoute       134926 non-null  object
 15  create_dt       134926 non-null  object
dtypes: float64(6), object(10)
memory usage: 16.5+ MB

In [5]:
july_trip_df.isnull().sum()

pubTimeStamp      0
companyName       0
tripRecordNum     0
sumdID            0
tripDuration      0
tripDistance      0
startDate         0
startTime         0
endDate           0
endTime           0
startLatitude     0
startLongitude    0
endLatitude       0
endLongitude      0
tripRoute         0
create_dt         0
dtype: int64

In [6]:
july_trip_df.companyName.value_counts()

Bird             44235
Lime             38397
Lyft             28899
SPIN             11685
Bolt Mobility     6759
JUMP              4089
Gotcha             862
Name: companyName, dtype: int64

In [7]:
july_trip_df.sumdID.nunique()

5585

In [8]:
july_trip_df.describe()

,tripDuration,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude
count,134926.000000,1.349260e+05,134926.000000,134926.000000,134926.000000,134926.000000
mean,97.097264,5.333994e+03,36.156738,-86.785144,36.156680,-86.785514
std,1722.548585,1.406051e+05,0.010914,0.013987,0.118461,0.396499
min,-19.358267,-2.032480e+07,35.853200,-86.890850,0.000000,-122.673729
25%,5.000000,3.280840e+02,36.150938,-86.793142,36.151014,-86.792596
50%,10.148442,2.956037e+03,36.157200,-86.782100,36.157680,-86.781523
75%,21.250550,6.916011e+03,36.162900,-86.776691,36.162800,-86.776546
max,512619.000000,3.188448e+07,36.299569,-86.366200,51.045409,0.000000